<%-include("./layout/header.ejs") %>
<h1>
    Here is the list you requested for
</h1>

<div class="cardList">
    <% list.forEach(item => { %>
        <div class="card">
            <% if(item.image){%>
                <img src=<%= item.image %> alt="">
            <%}%>
            <div class="writeUp">
            <h3><%= item.name %></h3>
            <p><%= item.desc %></p>
            <p>Quantity Available: <%= item.numberInStock %></p>
            <p>Cost: <%= item.price %></p>
            <p>Category: <%= item.category[0].name %></p>
            </div>
        </div>
    <%})%>
</div>

<p><a href="/addItem">Click here to add an Item to Category</a></p>

<a href="/">Back home</a>

<%-include("./layout/footer.ejs") %>